<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAME RULE</title>

    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden; /* スクロールバーを隠す */
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* 画像がアスペクト比を保ちながら画面全体をカバーする */
      }
    </style>
  </head>

  <body>
    <img src="/images/GameRule.jpg" alt="ルールの画像" />
  </body>
</html>
