<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TOP_RANKING</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>1~10位のプレイヤーネーム、Scoreの表示(一言コメント？？)</h1>
    <p>その下にあなたの順位(??/???)って感じ</p>

    <ul>
      <% scores.forEach(score => { %>
      <li><%= score.PlayerName %> - <%= score.Score %></li>
      <% }); %>
    </ul>
  </body>
</html>
