<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RANKING</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <h1>ここにランキングを表示</h1>
  </body>
</html>
