<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RANKING</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="ranking_top_sentence_warning">
      <img class="ranking_top_warning_image" src="/images/warning_mark-removebg-preview.png"alt="注意のイラスト"></img>
      <ul class="ranking_top_heads_up_ranking">
        <li>ランキングの登録にはユーザーネームの入力が必要です</li>
        <li>同じプレイヤーネームの場合は良い結果が上書きされます</li>
      </ul>
    </div>

    <div class="username_change_container">
      <form action="/submit_username" method="POST">
        <div class="username_input">
          <label for="playerNameInput">プレイヤー名:</label>
          <input type="text" class="username_input_custom" name="input_playerName" />
          <button type="submit" class="playerNameInput_button">これにする</button>
        </div>
      </form>
    </div>


    <div class="ranking_display">
      <a
        class="prediction_buttom High_Score_ranking"
        href="/High_Score_ranking"
      >
        ハイスコア<br />ランキング
      </a>
      <a
        class="prediction_buttom kusamori_another_the_work"
        href="https://play.unity.com/ja/games/90eb8f51-c820-4a7a-bbce-5894815736c1/44ow44ot44od44kv5bsp44gx77yg44k344ol44o844og44kj44oz44kw44ky44o844og"
      >
        草をこして森の<br />別の作品
      </a>
    </div>
    <div class="producer_kusamori">制作者 : 草をこして森</div>
  </body>
</html>
