<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RANKING</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <ul class="heads_up_ranking">
      <li>ランキングの登録にはユーザーネームの入力が必要です</li>
      <li>同じプレイヤーネームの場合は良い結果が上書きされます</li>
    </ul>

    <div class="ranking_display">
      <div class="prediction_buttom High_Score_ranking">
        ハイスコア<br />ランキング
      </div>
      <div class="prediction_buttom Your_Best_Score_distribution">
        あなたの<br />ベストスコア
      </div>
    </div>
  </body>
</html>
