<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAME TOP</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="top_page_container">
      <div class="top_title">偶奇判定サバイバル</div>
      <a class="game_start_button big_button" href="/game_page">
        ゲームスタート
      </a>
      <a class="rule_explanation_buttom big_button" href="/game_rule"
        >ルール説明</a
      >
    </div>
  </body>
</html>
