<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GAME TOP</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="container">
      <div class="top_title">偶奇判定サバイバル</div>
      <a
        class="game_start_button big_button"
        href="https://qiita.com/moody_engineer/items/9bb3bb86a9d2053aeea7"
      >
        ゲームスタート
      </a>
      <a class="rule_explanation_buttom big_button">ルール説明</a>
    </div>
  </body>
</html>
