/*top.ejsの内容*/
body {
  height: 100vh;
  background-image: url(/images/flower_main_page.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.top_page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*タイトルの設定*/
.top_title {
  margin-top: 20vh;
  margin-bottom: 5vh;
  font-size: 75px;
  font-weight: bold;
}
/*ボタン設定*/
.big_button {
  height: 12vh;
  width: 40%;
  margin-bottom: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #333;

  border-radius: 10px;
  /*問題：ウィンドを小さくした時に文字がはみ出してしまう*/
  font-size: 60px;
}
/*ボタンの色*/
.game_start_button {
  background-color: yellow;
}
.rule_explanation_buttom {
  background-color: aquamarine;
}

/*ここからgame_page.ejs*/
.game_page_container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#countdown {
  font-size: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#random_generate_number {
  font-size: 150px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Score_count {
  font-size: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*奇数偶数のとこ*/
.number_prediction {
  display: flex;
  align-items: center;
  margin-top: 75px;
}
.prediction_buttom {
  height: 40vh;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #333;

  border-radius: 15px;
  font-size: 120px;
}
#Odd_number_prediction {
  margin-left: 10%;
  background-color: #ffff72;
}
#Even_number_prediction {
  margin-left: 20%;
  background-color: #4572ee;
}

#conuntdown_Stop_message {
  display: none;
}
